@tailwind base;
@tailwind components;
@tailwind utilities;

@media ((width <= 1030px)){
    #menu{
        display: none;
    }

    #menu-icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    #menu-icon{
        width: 300px;
    }

    #aside-menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        width: inherit;
        padding-bottom: 1rem;
        gap: 1rem;
    }

    #aside-menu.noMostrar{
        display: none;
    }

    #aside-menu.mostrar{
        display: flex;
        flex-direction: column;
    }

    #services,#proyect,#practicas{
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }

    #services main{
        width: 95%;
    }

}

@media (width <= 768px){
    #services,#proyect,#practicas{
        grid-template-columns: 1fr;
    }

    #services main,#proyect > div{
        width: 90%;
    }

}

@media ((width <= 640px)){
    #iconsRedes{
        display: none;
    }

    #about{
        grid-template-columns: 1fr;
    }

    #informacion{
        margin-left: 2rem;
    }

}

@media (width <= 500px){
    #name{
        display: none;
    }

    #navbar{
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    #menu-icon{
        width: 100%;
    }
}